:root {
  --main-bg-color: #f5f7fa;
  --main-title-color: #000000;
  --main-text-color: #595959;
  --secondary-text-color: #ffffff;
  --accent-color: #e24b30;
  --bracket-color: #000000;
  --sidebar-bg-color: #1e2939;
  --contacts-link-color: #a5a9af;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1200px;
  margin: 40px auto;
  padding: 100px 90px;
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.content {
  width: 650px;
  padding: 100px 60px;
}

.about-me {
  margin-bottom: 50px;
}

.about-me__title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 45px;
  line-height: 1.67;
  color: var(--main-title-color);
}

.about-me__subtitle {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.67;
  color: var(--main-title-color);
}

.about-me__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.67;
  color: var(--main-text-color);
}

.my-projects {
  padding: 30px 0;
  border-top: 1px solid var(--main-text-color);
}

.my-projects__title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.87;
}

.my-projects__list {
  padding: 0 0 0 25px;
}

.my-projects__item {
  margin-bottom: 15px;
  font-weight: bold;
  color: var(--main-title-color);
}

.my-projects__text {
  margin-left: 5px;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.67;
  color: var(--main-text-color);
}

.my-projects__link {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.67;
  color: var(--main-text-color);
}

.my-projects__link--wrap {
  font-weight: bold;
  color: var(--accent-color);
}

.my-projects__wrap {
  color: var(--main-text-color);
}

.my-projects__wrap::before {
  content: '[';
  margin-right: 3px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.67;
  color: var(--bracket-color);
}

.my-projects__wrap::after {
  content: ']';
  margin-left: 3px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.67;
  color: var(--bracket-color);
}

.work-experience {
  padding: 30px 0;
  border-top: 1px solid var(--main-text-color);
}

.work-experience__title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.87;
}

.work-experience__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.67;
  color: var(--main-text-color);
}

.education {
  padding: 30px 0;
  border-top: 1px solid var(--main-text-color);
}

.education__title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.87;
}

.education__institution {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.87;
}

.education__specialty {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.67;
  color: var(--accent-color);
}

.education__period {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.67;
  color: var(--main-text-color);
}

.sidebar {
  width: 370px;
  padding-top: 40px;
  background-color: var(--sidebar-bg-color);
}

.contacts {
  margin-top: 50px;
  margin-left: 40px;
}

.contacts__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.contacts__type {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.contacts__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.67;
  color: var(--contacts-link-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover {
  color: var(--accent-color);
}

.tech-skills {
  margin-top: 50px;
  margin-left: 40px;
}

.tech-skills__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.tech-skills__list {
  list-style: disc;
  color: var(--accent-color);
}

.tech-skills__item {
  margin-left: 15px;
}

.tech-skills__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.soft-skills {
  margin-top: 50px;
  margin-left: 40px;
}

.soft-skills__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.soft-skills__list {
  list-style: disc;
  color: var(--accent-color);
}

.soft-skills__item {
  margin-left: 15px;
}

.soft-skills__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */